body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-contas {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;

  .container-perfil {
    position: relative;
    width: 165px;

    .img-perfil {
      width: 160px;
      border-radius: 100px;
    }

    .img-lapis {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 0px;
    }

    .img-lapis:hover {
      cursor: pointer;
    }
  }

  .usu-info {

    .btn-detalhes {
      background-color: #0D6EFD;
      color: #ffffff;
      border-radius: 25px;
      padding: 5px 15px;
      border: none;
    }

    .btn-detalhes:hover {
      cursor: pointer;
    }
  }
}