
.project-main {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;

    .main-header {
        width: 100%;
        min-height: 60px;
        background-color: #00000069;
        padding: 10px 20px;
    }

    .main-footer {

    }

}
