
.project-main {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdmFyeWdqcGxtMjhoMmZoNTNndngyY2FkaDlqcmM3c3RoaGJ5b3YwbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lnq52t8atIw3m/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;


    .main-header {
        width: 100%;
        min-height: 60px;
        background-color: #00000069;
        padding: 10px 20px;
    }

    .main-footer {

    }

}
